xml_dtds/assign3.dtd

<!ELEMENT countries (country*)>
<!ELEMENT country (city | language)* > 
<!ATTLIST country name CDATA #REQUIRED 
			population CDATA #REQUIRED 
			area CDATA #REQUIRED> 
<!ELEMENT city (name, population)> 
<!ELEMENT name (#PCDATA) > 
<!ELEMENT population (#PCDATA) > 
<!ELEMENT language (#PCDATA) > 
<!ATTLIST language percentage CDATA #REQUIRED> 